<header>
  <h1>Alonzo</h1>
  <p>A Lambda Calculus interpreter in Java</p>
  <p class="show-small"><a href="https://github.com/alexleighton/alonzo-java">View the Project on GitHub <small>alexleighton/alonzo-java</small></a></p>
  <ul>
    <li><a href="https://github.com/alexleighton/alonzo-java/zipball/master">Download <strong>ZIP File</strong></a></li>
    <li><a href="https://github.com/alexleighton/alonzo-java/tarball/master">Download <strong>TAR Ball</strong></a></li>
    <li><a href="http://github.com/alexleighton/alonzo-java">View On <strong>GitHub</strong></a></li>
  </ul>
</header>
